@charset "UTF-8";
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-computer:before {
  content: "";
}

._icon-facebook:before {
  content: "";
  color: #fff;
}

._icon-flesh:before {
  content: "";
}

._icon-instagram:before {
  content: "";
  color: #fff;
}

._icon-logo:before {
  content: "";
}

._icon-Programm-line:before {
  content: "";
}

._icon-Start-line:before {
  content: "";
}

._icon-usb:before {
  content: "";
}

._icon-vk:before {
  content: "";
  color: #fff;
}

._icon-youtube:before {
  content: "";
  color: #fff;
}

._icon-logo-2:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
._container {
  max-width: 1301px;
  margin: 0 auto;
}
@media (max-width: 1313px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  min-height: 48px;
}

.select {
  position: relative;
}
.select__item {
  position: relative;
}
.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }
}
.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}
@media (max-width: 991.98px) {
  .select__options {
    font-size: 18px;
  }
}
.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select._active {
  z-index: 5;
}
.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}
.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}
.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}
.checkbox a {
  color: #fff;
  text-decoration: underline;
}
@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}
.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.options__item {
  position: relative;
  cursor: pointer;
}
.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}
.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}
.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}
.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}
.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}
.quantity__button::before, .quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}
@media (min-width: 991.98px) {
  .quantity__button:hover::before, .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

._text-first-screen-footer {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}
._text-first-screen-footer span {
  font-weight: bold;
  color: white;
}

._title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}
@media (max-width: 1301px) {
  ._title {
    font-size: calc(30px + 18 * ((100vw - 320px) / 981));
  }
}

._h-100 {
  min-height: 80px;
}

._h-75 {
  min-height: 60px;
}

._h-50 {
  min-height: 30px;
}

._h-outcome {
  min-height: 10px;
}

._half-circle::before {
  font-size: 96px;
  background: -o-linear-gradient(355.22deg, #df5950 11.19%, #451046 93.72%);
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  display: inline-block;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}
._more-link span {
  font-style: normal;
}
._more-link span:first-child {
  display: block;
}
._more-link span:last-child {
  display: none;
}
._more-link._active span {
  font-style: normal;
}
._more-link._active span:first-child {
  display: none;
}
._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}
._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}
._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}
._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}
.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}
.popup.show {
  visibility: visible;
  overflow: auto;
}
.popup.show::before {
  opacity: 1;
}
.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.popup._active {
  overflow: auto;
  visibility: visible;
}
.popup._active::before {
  opacity: 1;
}
.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}
.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}
.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  z-index: 100;
  position: relative;
}
.header._scroll .header__content {
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  background-color: rgba(0, 0, 0, 0.514);
}
@media (any-hover: hover) {
  .header._scroll .header__content:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.header._scroll .header__content .icon-menu span {
  background-color: #fff;
}
.header__content {
  position: fixed;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1760px;
          flex: 0 0 1760px;
  padding: 0 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 82px;
}
@media (max-width: 479.98px) {
  .header__content {
    padding: 0 20px;
  }
}
.header__menu {
  -ms-flex-preferred-size: 745px;
      flex-basis: 745px;
}
@media (max-width: 1301px) {
  .header__menu {
    -ms-flex-preferred-size: calc(600px + 145 * ((100vw - 320px) / 981));
        flex-basis: calc(600px + 145 * ((100vw - 320px) / 981));
  }
}
@media (max-width: 479.98px) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }
}
.header__button {
  background: -o-linear-gradient(355.74deg, #c89afc 9.51%, #7c6afa 90.23%);
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50px;
  color: inherit;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__button:hover {
    -webkit-transform: translate(20px, 0);
        -ms-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
}
@media (max-width: 767.98px) {
  .header__button {
    display: none;
  }
}

.logos-header__logo-1 {
  position: relative;
  background: -o-linear-gradient(355.22deg, #df5950 11.19%, #451046 93.72%);
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  font-size: 40px;
  -webkit-animation: background 3s infinite alternate;
          animation: background 3s infinite alternate;
}
.logos-header__logo-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  background: -o-linear-gradient(355.22deg, #df5950 11.19%, #451046 93.72%);
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  -webkit-animation: background 4s infinite alternate;
          animation: background 4s infinite alternate;
  font-size: 28.85px;
}

.menu__body._active .menu__list {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  visibility: visible;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}
@media (max-width: 479.98px) {
  .menu__list {
    -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -webkit-transform: translate(-200px, 0);
        -ms-transform: translate(-200px, 0);
            transform: translate(-200px, 0);
    opacity: 0;
    visibility: hidden;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 70%;
    right: 2%;
    display: block;
  }
  .menu__list li:not(:last-child) {
    margin: 0px 0px 12px 0px;
  }
}
.menu__link {
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  padding: 0 2px;
}
@media (any-hover: hover) {
  .menu__link:hover {
    background: -o-linear-gradient(355.22deg, #df5950 11.19%, #451046 93.72%);
    background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0b2349;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 479.98px) {
  .icon-menu {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@-webkit-keyframes background {
  100% {
    background-position: 50px 0;
  }
}

@keyframes background {
  100% {
    background-position: 50px 0;
  }
}
.footer__content {
  text-align: center;
}
.states__subtitle {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.5);
}
.states__email {
  margin: 0 auto;
  max-width: 492px;
}
.states__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0px 0px 0px;
  margin: 0px 0px 30px 0px;
}

.email-form__button {
  display: none;
}
.email-form__item {
  position: relative;
}
.email-form__input {
  width: 100%;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.25);
  min-height: 44px;
  font-size: 14px;
  line-height: 160%;
  color: inherit;
  padding: 0px 0px 0px 30px;
}
.email-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  background: -o-linear-gradient(355.22deg, #df5950 11.19%, #451046 93.72%);
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  min-height: 44px;
  color: inherit;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .email-form__btn:hover {
    -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

.social-media__icon {
  font-size: 24px;
  padding: 13px;
  border-radius: 50%;
  background: -o-linear-gradient(355.74deg, #c89afc 9.51%, #7c6afa 90.23%);
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.social-media__icon:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
@media (any-hover: hover) {
  .social-media__icon:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

._no-webp .wrapper{
  background: url(../img/bgc.png) 100% 100% repeat; }

.wrapper {
  background-size: cover;
}

.page {
  z-index: 1;
}
._no-webp .page__first-screen{
  background: url("../img/first-screen/main-screen__bgc.png") 100% 100% no-repeat; }
.page__first-screen {
  max-width: 1920px;
  height: 960px;
  /* start height */
  z-index: 2;
  background-size: cover;
  -moz-background-size: cover;
  /* Firefox 3.6 */
  background-position: center;
  /* Internet Explorer 7/8 */
}
.first-screen {
  position: relative;
}
.first-screen__offer {
  padding: 270px 0px 218px 0px;
  max-width: 920px;
}
.first-screen__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 140%;
}
@media (max-width: 1301px) {
  .first-screen__title {
    font-size: calc(32px + 32 * ((100vw - 320px) / 981));
  }
}
.first-screen__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;
  line-height: 140%;
}
@media (max-width: 1301px) {
  .first-screen__time {
    font-size: calc(18px + 18 * ((100vw - 320px) / 981));
  }
}
.first-screen__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 35px 0 28px 0;
  background: #121212;
}

.time-first-screen_box {
  max-width: 90px;
  margin: 0px 30px 12px 0px;
  padding: 20px 30px;
  background: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.time-first-screen_box::after {
  opacity: 0.4;
  font-weight: normal;
  line-height: 22px;
  font-size: 16px;
}
.time-first-screen__days::after {
  content: "Дней";
}
.time-first-screen__hours::after {
  content: "Часов";
}
.time-first-screen__minuts::after {
  content: "Минут";
}
.time-first-screen__seconds::after {
  content: "Секунд";
}

.first-screen-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .first-screen-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first-screen-footer__container div:not(:last-child), .first-screen-footer__container a:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}
.first-screen-footer__button {
  background: -o-linear-gradient(355.22deg, #df5950 11.19%, #451046 93.72%);
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  color: inherit;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .first-screen-footer__button:hover {
    -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}
.first-screen-footer__students {
  padding: 0 12px;
}
.first-screen-footer__money {
  padding: 0 12px;
}

.first-screen-students__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 251px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-screen-money__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 279px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first-screen-money__status-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
      grid-template-areas: "status-bar status-bar" "min max";
}

.first-screen-status-bar__line {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: status-bar;
  position: relative;
  background-color: #fff;
  height: 6px;
  width: 714px;
}
@media (max-width: 1301px) {
  .first-screen-status-bar__line {
    width: calc(260px + 454 * ((100vw - 320px) / 981));
  }
}
.first-screen-status-bar__line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  width: 440px;
  animation: status-bar 2.5s infinite alternate-reverse;
  background: -o-linear-gradient(355.22deg, #df5950 11.19%, #451046 93.72%);
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}
@media (max-width: 1301px) {
  .first-screen-status-bar__line::before {
    width: calc(160px + 280 * ((100vw - 320px) / 981));
  }
}
.first-screen-status-bar ._min {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: min;
}
.first-screen-status-bar ._max {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: max;
  text-align: end;
}
.services__container {
  padding: 200px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__container div:not(:last-child) {
    margin: 0px 0px 50px 0px;
  }
}
.services__images {
  min-width: 546px;
  min-height: 542px;
  position: relative;
  border: 30px solid transparent;
  -o-border-image: -o-linear-gradient(355.74deg, #c89afc 9.51%, #7c6afa 90.23%);
     border-image: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  -webkit-border-image: -webkit-linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-image-slice: 1;
}
@media (max-width: 767.98px) {
  .services__images {
    min-width: 273px;
    min-height: 271px;
  }
}
.services__image {
  position: absolute;
  padding: 0px 0px 91.7695473251% 0px;
  width: 91.7695473251%;
  top: 19.7530864198%;
}
.services__explanation {
  padding: 0 12px;
}
@media (min-width: 991.98px) {
  .services__explanation {
    margin: 0px 0px 0px 139px;
  }
}

.explanation-services__title {
  margin: 0px 0px 45px 0px;
}
.explanation-services__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

.fast-start__container {
  padding: 0px 12px 200px 12px;
}
.fast-start__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 467px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 49px 0px;
}
.fast-start__info {
  max-width: 411px;
  font-size: 16px;
  padding: 0px 0px 80px 0px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5);
}
.fast-start__info-graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 12px;
}
@media (max-width: 767.98px) {
  .fast-start__info-graph {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info-graph__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.9039200615%;
          flex: 0 0 24.9039200615%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 273px;
}
@media (max-width: 767.98px) {
  .info-graph__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info-graph-block__percent {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
}
.info-graph-block__line {
  min-width: 100%;
  background: -o-linear-gradient(355.74deg, #c89afc 9.51%, #7c6afa 90.23%);
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  margin: auto 0;
}
.info-graph-block__text {
  min-width: 94.4444444444%;
  font-size: 14px;
  line-height: 160%;
  padding: 0px 5px 0px 0px;
  color: rgba(255, 255, 255, 0.5);
}

.profession__container {
  margin-bottom: 200px;
}
.profession__title {
  text-align: center;
}
.profession__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px;
  margin: 120px 0px 0px 0px;
}
@media (max-width: 1313px) {
  .profession__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.profession__content div:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.profession__item {
  text-align: center;
  max-width: 358px;
}
.profession__icon {
  margin: 0px 0px 60px 0px;
  font-size: 100px;
  background: -o-linear-gradient(355.74deg, #c89afc 9.51%, #7c6afa 90.23%);
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #7c6afa;
}
.profession__subtitle {
  margin: 0px 0px 30px 0px;
  font-size: 24px;
  line-height: 140%;
}
.profession__text {
  color: rgba(255, 255, 255, 0.5);
}

.partners__container {
  padding: 0px 0px 200px 0px;
}
.partners__title {
  margin: 0px 0px 89px 0px;
}
.partners__title::before {
  padding: 0px 0px 48px 20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: left;
}
.partners__logos {
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 1313px) {
  .partners__logos {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
.partners__logo {
  position: relative;
  z-index: 1;
  padding: 29px 66px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.partners__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.partners ._no-border-left {
  border-left: none;
}
.partners ._no-border-bottom {
  border-bottom: none;
}
.partners ._no-border-right {
  border-right: none;
}
.partners ._no-border-top {
  border-top: none;
}

.training-program__title {
  text-align: center;
}
.training-program__title::before {
  display: block;
  font-weight: normal;
  font-size: 90px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  margin: 0px 0px 31px 0px;
}
.training-program__subtitle {
  text-align: center;
  margin: 30px auto 80px auto;
  width: 31.5910837817%;
}
@media (max-width: 479.98px) {
  .training-program__subtitle {
    width: 100%;
  }
}
.training-program__blocks {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 200px;
}
.training-program__blocks::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  left: 0;
  top: 0;
  background: -o-linear-gradient(355.74deg, #c89afc 9.51%, #7c6afa 90.23%);
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  left: 50%;
  margin-left: -8px;
}
@media (max-width: 991.98px) {
  .training-program__blocks::before {
    display: none;
  }
}
.training-program__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 750px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: right;
}
@media (max-width: 991.98px) {
  .training-program__block {
    min-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  .training-program__block::after {
    display: none;
  }
  .training-program__block::before {
    display: none;
  }
  .training-program__block:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}
.training-program__block::after {
  margin: 0px 0px 0px 20px;
  content: "";
  width: 40px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.training-program ._odd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: left;
}
.training-program ._odd::after {
  width: 0;
  margin: 0;
}
.training-program ._odd::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.training-program ._odd .training-program__content {
  margin: 0px 0px 0px 36px;
}
@media (max-width: 991.98px) {
  .training-program ._odd {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .training-program ._odd .training-program__content {
    margin: 0;
  }
}
.training-program__content {
  max-width: 304px;
}
.training-program__week {
  font-size: 14px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5);
}
.training-program__text {
  font-size: 18px;
  line-height: 160%;
  margin: 15px 0px 0px 0px;
}

.teachers__container {
  padding: 0px 0px 200px 0px;
}
.teachers__title {
  padding-left: 12px;
}
.teachers__title::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0px 40px 0px 0px;
}
.teachers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 113px 0px 0px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .teachers__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teachers__items div:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}
.teachers__item {
  max-width: 416px;
}

.teacher {
  text-align: center;
}
.teacher__image {
  max-width: 88.0281690141%;
  padding: 0px 0px 190px 0px;
  margin: 0 auto;
}
.teacher__name {
  padding: 40px 0px 15px 0px;
  font-size: 24px;
  line-height: 140%;
}
.teacher__text {
  padding: 0px 0px 30px 0px;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
}
.teacher__button {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  padding: 10px 30px;
  margin: 0 auto;
  color: inherit;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
@media (any-hover: hover) {
  .teacher__button:hover {
    background: #9b74c9;
  }
}

@-webkit-keyframes status-bar {
  100% {
    background-position: 440px;
    @media (max-width: 1301px) {
      background-position: calc(160px + 280 * ((100vw - 320px) / 981));
    }
  }
}

@keyframes status-bar {
  100% {
    background-position: 440px;
    @media (max-width: 1301px) {
      background-position: calc(160px + 280 * ((100vw - 320px) / 981));
    }
  }
}
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
._webp .wrapper{ background: url(../img/bgc.webp) 100% 100% repeat; }
._webp .page__first-screen{ background: url(../img/first-screen/main-screen__bgc.webp) 100% 100% no-repeat; }